In [1]:
import pandas as pd

/home/armando/ambientes_python/ambiente_ai/lib/python3.12/site-packages/fuzzywuzzy/fuzz.py:11: UserWarning: Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning
  warnings.warn('Using slow pure-python SequenceMatcher. Install python-Levenshtein to remove this warning')

In [15]:
pathologies = pd.read_csv('/home/armando/git/insurance_case/datalake/raw/pathologies.csv')
pathologies = pathologies[['code', 'name']]
pathologies.columns = ['pathology_code', 'pathology_name']
print(pathologies['pathology_code'].nunique())
print(pathologies['pathology_name'].nunique())
print(pathologies.shape)
display(pathologies.head(3))

12423
12420
(12423, 2)

  pathology_code                                     pathology_name
0           A000  COLERA DEBIDO A VIBRIO CHOLERAE O1, BIOTIPO CH...
1           A001  COLERA DEBIDO A VIBRIO CHOLERAE O1, BIOTIPO EL...
2           A009                             COLERA NO ESPECIFICADO

In [12]:
cie_10 = pd.read_csv('/home/armando/git/insurance_case/datalake/raw/DIAGNOSTICOS_20240416.csv', usecols=['CATALOG_KEY', 'NOMBRE'])

cie_10 = cie_10[['CATALOG_KEY', 'NOMBRE']].drop_duplicates()
print(cie_10.shape)
print(cie_10['CATALOG_KEY'].nunique())
print(cie_10['NOMBRE'].nunique())

cie_10.columns = ['cie_code', 'cie_name']
display(cie_10.head(3))

(14498, 2)
14498
14479

  cie_code                                           cie_name
0      A00                                             CÓLERA
1     A000  CÓLERA DEBIDO A VIBRIO CHOLERAE 01, BIOTIPO CH...
2     A001  CÓLERA DEBIDO A VIBRIO CHOLERAE 01, BIOTIPO EL...

In [19]:
cie_10.to_csv('/home/armando/git/insurance_case/datalake/preprocessed/cat_cie_10.csv', index=False)